html{
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
.active{
  color : white;
  
}

#totalCart{

  background-color: black !important;
}

#page-content {
  flex: 1 0 auto;
}

.navbar{
  background-color: black !important;
  margin-bottom: 0px;
}
.footer{

  background-color: black !important;
}

img{
  width : 300px;
  height : 300px;
}
td ul li a.list-time :hover{
  font-size:25px;
  
}

.carousel-item {
  height: 60vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.tableLi{
  list-style-type: none;
  color : red;
}
.tableTitle{
  color : white;
  text-align: center;
  font-size: larger;
}
a:hover {
  color :red;
}
#quick{
  height:25px;
  background-color:red;
  color:white;
  text-align: center;
  font-weight: bolder;
}